<div class="title">
  <h1>Working place <%= @place.place_nr%></h1>
</div>
<div class="current_time_slot">
  <%= render :partial => "current_time_slot"%>
</div>
<div class="week_day_navigation">
  <%= render :partial => "week_day_navigation"%> 
</div>
<%=render :partial => "time_slots"%>
<%if user_signed_in?%>
  <%= link_to "Book this place", working_place_new_time_slot_path(@place.id) %>
<%else%>
  <p> Please log in to book this place </p>
<%end%>
